<div class="container-fluid">
  <h2>Benutzerkonten</h2>
  <p>für Minikänguru, "Mathe für jung und alt" und weitere Anwendungen aus dem egladil- Universum</p>
  <hewi-messages></hewi-messages>

  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="row">
      <div class="col-md-4 text-md-left">&copy; Heike Winkelvo&szlig;</div>
      <div class="col-md-4 text-xs-center">{{envName}}, API: {{api}}</div>
      <div class="col-md-4 text-md-right">Version {{version}}</div>
    </div>
  </footer>
</div>

