* {
  /** box content wird automatisch so berechnet, dass width und height konstant bleiben */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: #FAFBFC;
}

.kleber {
	position: fixed;
	left: -1000px;
}

.header-3 {
  margin: 0 10px 0 15px;
  font-size: 1.75rem;
}

.page {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1pt solid;
  border-color: #D1D5DA;
  border-radius: 5px;
}

.hinweis {
  margin: 10px 5px 10px 5px;
  padding: 5px;
  font-size: 1.5rem;
  font-style: bold;
  background-color: #FAFBFC;
  border: 2pt solid;
  border-color: #FCA326;
  border-radius: 5px;
}

footer {
  position: relative;
  margin-top: 250px;
}


@media (max-width: 768px) {
  .h4  {
    font-size: 1rem;
  }
  .header-3, .hinweis  {
    font-size: 1.2rem;
  }
  .body {
    font-size: 1rem;
  }
}


